@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

h1{
    font-family: 'Pacifico';
    font-size: 50px;
    color: #D2691E;
    text-align: center;
}

h2{
    font-family: 'Caveat';
    font-size: 30px;
    color: #00008B;
}

h3{
    font-family: 'Arial';
    font-size: 25px;
    color: #008B8B;
}

p, li{
    font-family: 'Arial';
    padding: 2px;
}

a:visited{
    color: grey;
}

a:hover{
    color: red;
    font-weight: bold;
}

a:active{
    color: green;
}

table, th, td{
    border: 2px solid;
    width: 33%;
    margin: auto;
    border-color: brown;
    border-collapse: collapse;
    background-color: antiquewhite;
}

#main{
    background-image: url(media/background.jpg);
    background-attachment: fixed;
    background-size: cover;
}

label{
    font-family: Arial, sans-serif;
    font-size: 18px;
}

#titulo{
    font-family: Arial, sans-serif;
    font-size: 25px;
    color: brown;
}

#form{
    background-color: antiquewhite;
}